  <html>
      <head>
      </head>
      <style>
      .myDiv {1px; border-color: red;
              border-style: dashed}
      </style>
      <body>
      <ul>      
      <ul>      
      </form>
      <% if @name %>
      <h1> my name is <%= @name %>  </h1>
      <% end %>
      <form action="/named-cat" method='post'>
      <input type="text" name="name">
      <input type="submit" value="Submit">
      </form>
      <div class="MyDiv">
      <img src='https://i.imgur.com/jFaSxym.png'>  
      </div>
  
      </body>
    </html>